
:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}


.gallery-preview {
  width: 360px;
  height: 200px;
  object-fit: cover;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  max-width: calc(3 * 360px + 3 * 24px);
  margin: 0 auto;
  gap: 20px 24px;
  margin-top: 20px;
}

.feedback-form{
display: flex;
flex-direction: column;
align-items: flex-start;
}

.feedback-form .form-label{
  text-align: left;
}
.form-label{
  display: flex;
flex-direction: column;
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.04em;
color: #2e2f42;
margin-top: 8px;
}

.textarea,
.input-email{
border: 1px solid #808080;
border-radius: 4px;
width: 360px;
height: 80px;
margin-top: 8px;
}

.input-email{
  height: 40px;
}
.textarea,
.input-email:hover{
border: 1px solid #000;
}

.button-form{
  margin-top: 16px;
  border-radius: 8px;
padding: 8px 16px;
width: 95px;
height: 40px;
background: #4e75ff;
font-weight: 500;
letter-spacing: 0.04em;
color: #fff;
border: none;
}

.button-form:hover{
background: #6c8cff;
}
